<h2>Upcoming events</h2>
<% @events.where("date > ?", Date.today).each do |event| %>
<p><%= event.date %></p>
<% end %>

<h2>Past events</h2>
<% @events.where("date < ?", Date.today).each do |event| %>
<p><%= event.date %></p>
<% end %>

